<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- this will be modified by specrunner during a test run - see *.srprofile -->
    <add key="browser" value="Chrome" />
    <!-- this will be populated by specrunner during a test run - see *.srprofile -->
    <add key="specrunId" value="specrun_id_not_set" />
    <!-- this will be populated by specrunner during a test run - see *.srprofile -->
    <add key="testThreadId" value="1" />
    <!-- this will be populated by specrunner during a test run - see *.srprofile -->
    <add key="specrunProfileName" value="VS" />
    <!-- this will be populated by specrunner during a test run - see *.srprofile -->
    <add key="processFlowProfileName" value="Local" />

    <add key="environment" value="local" />

    <add key="HostUrl" value="https://github.com" />

    <add key="UseSeleniumGrid" value="false" />
    <add key="SeleniumGridUrl" value="http://localhost:4444/wd/hub" />
    <add key="ProcessFlowFolder" value="c:\processFlow\local" />
    <add key="ScreenshotsFolder" value="c:\screenshots" />
    <add key="UseConsoleLogErrorChecking" value="false" />
    <add key="UseProxy" value="false" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" /><plugins>
      <add name="SpecRun" />
    </plugins></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>